@model IEnumerable<AquaBackend.Models.Reports>
@{
    ViewData["Title"] = "Reportes Generales";
}

<h3>Reportes</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                Reporte
            </th>
            <th>
                Descripción
            </th>
            <th>
                Ultima Actualización
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Report
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.LastUpdate
                </td>
                <td>
                    @*Ver Reporte*@
                    <a class="btn btn-primary float-left" target="_blank" href="@Url.Action("ViewGeneralReport", "Reports", new { description = item.Description, report = item.Report })">
                        Ver Reporte
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>